# Supabase Connections
VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-public-api-key

# Security Protection (e.g. 2004)
VITE_APP_PIN=your_custom_security_pin
